/*start structural styles */

.wrapper {
  max-width: 1024px;
  margin: auto;
}

body {
  font-family: verdana;
}


/*end structural styles */


/*start header styles */

header {
  text-align: center;
}

h1 {
  font-size: 72px;
  margin: 0;
}

h2 {
  font-size: 24px;
}


/*end header styles */


/*start nav styles */

nav {
  padding-top: 24px;
}

a {
  color: gray;
  text-decoration: none;
}

ul {
  list-style: none;
  display: table;
  padding: 0;
}

li {
  display: table-cell;
  text-align: center;
  width: 256px;
}


/*end nav styles */


/*start main style */

h4 {
  font-style: italic;
}

p {
  font-size: 12px;
}

figcaption {
  font-size: 12px;
  color: gray;
  width: 512px;
}

img {
  width: 512px;
}

figure {
  margin: 0;
}


/*end main style */


/*start footer style */

footer {
  text-align: center;
  padding: 24px;
}


/*end footer style */
